<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" th:href="@{/favicon.png}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}" width="105" height="58" alt="Tasnim">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#">This content is only shown to authenticated users.</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin/user/list}">User Management</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" href="#">This content is only shown to users.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <a class="nav-link" sec:authorize="isAnonymous()" href="/login" th:href="@{/login}">Login</a>
            <a class="nav-link" sec:authorize="isAnonymous()" href="/registration" th:href="@{/registration}">Registration</a>
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [[${#httpServletRequest.remoteUser}]]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/user/profile}">Profile</a>
                    <a class="dropdown-item" href="#">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                </div>
            </div>
            <a class="nav-link" href="#">About</a>
        </div>
    </nav>
</th:block>
</body>
</html>