<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1 th:text="#{label.form.title}">form</h1>
<form method="POST" enctype="utf8">    
    <div>
        <label th:text="#{label.user.username}">username</label>
        <input name="username" id="username"/>
    </div>
        
    <div>
        <label th:text="#{label.user.password}">password</label>
        <input type="password" id="password" name="password"/>
    </div>        
        
    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
</body>
</html>