<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
    <div th:replace="fragments/header::head"></div>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container">
    <a th:href="@{/product/list}" class="badge badge-primary">Product List</a>
    <a th:href="@{/product/entry}" class="badge badge-secondary">Add New Product</a>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>