<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <div th:replace="fragments/header::head"></div>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<h1 th:text="#{label.form.title.registration}">form</h1>
<form th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">    
    <div>
        <label th:text="#{label.user.username}">first</label>
        <input th:field="*{username}"/>
        <p th:each="error: ${#fields.errors('username')}" th:text="${error}">Validation error</p>
        <!--<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>-->
    </div>
    <div>
        <label th:text="#{label.user.email}">email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.password}">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.confirmPassword}">confirm password</label>
        <input type="password" th:field="*{passwordConfirm}"/>
        <p th:each="error : ${#fields.errors('passwordConfirm')}" th:text="${error}">Validation error</p>
    </div>
    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>
